.block {
    width: 100%;
    height: 1000px;
    background-color: #0d5825;
}

.Paragraf_1 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding-top: 135px;
}
.Paragraf_2 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.conteiner {
    position: relative;
}

.map_1 img {
    margin-top: 250px;
    margin-left: 300px;
    position: absolute;
    top: 100px;
    left: 300px;
    transform: rotate(-20deg);
    width: 150px;
    transition: all 0.3s ease-in-out;
}

.map_1 img:hover {
    top: 80px;
    left: 290px;
    transform: rotate(-20deg);
    position: absolute;
    width: 150px;
}

.map_2 img {
    margin-top: 250px;
    margin-left: 340px;
    position: absolute;
    top: 100px;
    left: 300px;
    transform: rotate(-5deg);
    position: absolute;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

.map_2 img:hover {
    top: 80px;
    left: 295px;
    transform: rotate(-5deg);
    position: absolute;
    width: 150px;
}

.map_3 img {
    margin-top: 260px;
    margin-left: 385px;
    position: absolute;
    top: 100px;
    left: 300px;
    transform: rotate(10deg);
    width: 150px;
    transition: all 0.3s ease-in-out;
}

.map_3 img:hover {
    top: 80px;
    left: 300px;
    transform: rotate(10deg);
    position: absolute;
    width: 150px;
}

.square {
    width: 300px;
    height: 300px;
    position: relative;
}

.red {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1;
}

.blue {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    z-index: 3;
    margin-top: 50px;
    margin-left: 50px;
}

.green {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
    z-index: 2;
    margin-top: 100px;
    margin-left: 100px;
}




.window {
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
    background-color: gray;
    width: 200px;
    height: 400px;
    transition: all 0.5s ease-in-out;
    left: -220px;
}

.window:hover {
    left: 0;
}

.windBlock {
    left: 205px;
    position: absolute;
    width: 25px;
    height: 420px;
    background-color: burlywood;
    margin-top: -20px;
    transition: all 3s ease-in-out;
}


.window .indent{
    margin-top: 20px;
}

.text {
    color:white;
    transition: 0.3s linear;
    text-decoration: none;
}

.text:hover {
    color: chocolate;
}

.rhombus {
    margin-top: 4px;
    margin-right: 10px;
    width: 9px;
    height: 9px;
    float: left;
    background-color: chocolate;
    transform: rotate(45deg);
    border: solid black 0.3px;
}  






.Wh_cube {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(204, 204, 140);
}

.cude {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color:blue;
    bottom: 0;
    animation: bouncing 5s infinite ;
}

@keyframes bouncing {
    0% { transform: translate(0, 0); background-color: blue; }
    25% { transform: translate(400px, 0); background-color: aqua;}
    50% { transform: translate(400px, -400px); background-color: yellow;}
    75% {transform: translate(0, -400px); background-color: pink;}
    100% { transform: translate(0, 0); background-color: blue;}
 }
