/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 



.block {
    height: 350px;
    width: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: dashed red 2px;
    background-color: green;
}

.text {
    height: auto;
    width: 50%;
    border: solid silver;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    text-align: justify;
}

#html {
    float: left;
    height: 150px;
    width: 250px;
    margin: 0px 20px 10px 0px;
}

#css {
    float: right;
    height: 100px;
    width: 150px;
    margin: 20px 0px 20px 20px;
    
}
