html{
    position: relative;
}

blockquote p {
    color:red;
}

a[href^="https://"] {
    color:red;
}

.list li:nth-child(4) {
    background-color:green;
}

ul+p {
    font-size: 26px;
}

.text-box h3:first-child {
    color:pink;
}

#greycol {
    color: grey;
}

.text-box div p {
    color:red;
} 

.text-box p:nth-of-type(3) {
    color:green;
}

.yellow {
    color:yellow;
}

    .bg-box{
        background:url("../img/pole-zelen-trava-dom-derevya.jpeg") center / 700px 500px no-repeat,
        url("../img/lamp-png-0.png") top left / 50px 70px repeat-x,
        url("../img/grass-png-images-pictures-transparent-28.png") bottom / 400px 400px repeat-x ,
        url("../img/Ёжик.png") left / 50px 50px repeat-y,
        url("../img/58eb07b830eab15b56162788.png") right / 50px 50px repeat-y;
        background-color: green;
        height: 1000px;
        width: 100%;
    }