* {
    margin: 0;
    padding: 0;
  }

  html{
    height: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
p {
    line-height: 20px;
    font-size: 15px;
    text-decoration:none;
}

a {
    font-size: 15px;
    text-decoration:none;
}

h1 {
    margin-top: 20px;
}

.item a {
    transition: all 0.3s ease-in-out;
}

.item a:hover {
    color: rgb(52, 176, 180);
}

.header {
    flex: 0 0 auto;
    padding-left: 10px;
    background-color: rgb(211,183,20);
}

.blockCap {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.blockCap li, a {
    margin-right: 5px;
    display:inline-block;
} 

.blockCap img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.block {
    flex: 1 0 auto;
    display: flex;
    display: flex;
}

.blockCentr {
    height: auto;
    padding-top: 20px;
    order: 2;
    text-align: center;
}

.blockInfo {
    flex-direction: column;
    display: flex;
    position: relative;
    padding: 10px 10px 10px 10px;
    min-height: 500px;
    width: 300px;
    border: solid silver 2px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(221, 220, 220);
}

img{flex: 0 0 auto; }

.ParagrafText {
    flex: 1 0 auto;
}

.ParagrafText p, b {
    padding-bottom: 10px;
}

input{flex: 0 0 auto; }

.blockInfo img {
    margin-left: 30%;
    width: 125px;
    height: 125px;
    border-radius: 100px;
    border: dotted silver 2px;
}

.buttonGo {
    flex: 0 0 auto;
    width: 50px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: rgb(104,81,116);
    transition: all 0.3s ease-in-out;
    outline: none;
    margin-left: 43%;
}

.buttonGo:hover {
    box-shadow: 0 0 5px 2px rgb(81, 38, 161);
}

.blocking p {
    margin-top: 5%;
}

.blocking {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blockLeft {
    text-align: center;
    order: 1;
    height: 100%;
    width: 410px;
    background-color: rgb(199,152,185);
}

.blockRight {
    text-align: center;
    order: 3;
    height: 100%;
    width: 410px;
    background-color: rgb(156,177,199);
}

.footer {
    flex: 0 0 auto;
    background-color: rgb(134,236,133);
	bottom: 0;
	width: 100%;
    height: 80px;
    flex: 0 0 auto;
}

.footer p {
    display: flex;
    justify-content: center;
}

.holder {
    border-radius: 50px 50px 0 0; 
    bottom: 0;
    width: 400px;
    height: 200px;
    background-color: rgba(192, 90, 90, 0.253);
    border: tomato 2px;
    display: flex;
}

.item_1 {
    width: 20px;
    height: 20px;
    background-color: rgba(128, 72, 72, 0.479);
    border: solid 2px;
}